body, html
	font-family: 'Avenir', Helvetica, Arial, sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	color: #1a1a1a
	font-size:100px
	line-height: 1
	font-weight: 200
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
	.border-1px
		&::after
			transform:scaleY(0.7)
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
	.border-1px
		&::after
			transform: scaleY(0.5)

